<div>
	<img src="<%= @dish.image_url %>">
	<h2><%= @dish.title %></h2>
	<button><a href="/dishes/<%= @dish.id %>/edit">Edit</a></button>
	<form action="/dishes/<%= @dish.id %>" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="_method" value="delete">
		<button>Delete</button>
	</form>

</div>