<ul>
  <li>Title - <%= @movie['Title'] %></li>
  <li>Year - <%= @movie['Year'] %></li>
  <li>Rated - <%= @movie['Rated'] %></li>
  <li>Released - <%= @movie['Released'] %></li>
  <li>Runtime - <%= @movie['Runtime'] %></li>
  <li>Genre - <%= @movie['Genre'] %></li>
  <li>Director - <%= @movie['Director'] %></li>
  <li>Actors - <%= @movie['Actors'] %></li>
  <li>Awards - <%= @movie['Awards'] %></li>
  <li><%= @movie['Plot'] %></li>
  <li><img src="<%= @movie['Poster'] %>" alt="movie poster"> </li>
</ul>
