<ul>
  <li>Title - <%= @movie['title'] %></li>
  <li>Year - <%= @movie['year'] %></li>
  <li>Rated - <%= @movie['rated'] %></li>
  <li>Runtime - <%= @movie['runtime'] %></li>
  <li>Genre - <%= @movie['genre'] %></li>
  <li>Director - <%= @movie['director'] %></li>
  <li>Actors - <%= @movie['actors'] %></li>
  <li><%= @movie['plot'] %></li>
  <li><img src="<%= @movie['poster'] %>" alt="movie poster"></li>
</ul>
