<h1>Good Food Hunting</h1>


<% @rows.each do |row| %>
<figure>
	<img src="<%= row['image_url'] %>" alt="<%= row['name'] %>">
	<figcaption><%= row['name'] %></figcaption>
	<div class="edit">

		<form action="/dishes/<%= row['id']%>/edit" method="put">
			<button>Edit</button>
		</form>

		<form action="/dishes/<%= row['id']%>/delete" method="post">
			<input type="hidden" name="_method" value="delete">
			<button>Delete</button>
		</form>
	</div>
</figure>
<% end %>