<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  
  <p>
    <%= @omdb %>
  </p>

  <p>
    <strong>Title:</strong> <%= @title %>
  </p>

  <p>
    <strong>Genre:</strong> <%= @genre %>
  </p>

  <p>
    <strong>Runtime:</strong> <%= @runtime %>
  </p>

  <img src="<%= @poster %>" alt="">

</body>
</html>


